*.pyc
__pycache__/
*.py[cod]
*$py.class

migrations/


db.sqlite3

media/

.env
venv/
virt/
Include/
Lib/
Scripts/
pyvenv.cfg

# Static files
static/
staticfiles/

# IDEs
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Python virtual environment
*.venv
*.env
env/
venv/
ENV/
env.bak/
